.goods{
    cursor: pointer;
    user-select: none;

    .ant-table{
        min-height: 605px;
    }

}

.ant-popconfirm-message-icon{
    display: none;
}

.ClassifyInput{
    width: 180px;
    margin-top: 12px;
}

.ClassifyOk{
    margin-left: 10px;
}