.home{

    .ant-layout{
        color: #fff;
    }

    .ant-layout-header{
        color: #fff;
    }

   .ant-layout .ant-layout-sider{
        height: 100vh;
        background-color: #001529;
    } 
}

